__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.Python
env/
venv/
ENV/
.venv/
*.env
*.env.*
*.egg
*.egg-info/
dist/
build/
*.log
*.pot
*.db
*.sqlite3
celerybeat-schedule
instance/
*.pid
/node_modules/
dist/
tmp/
out-tsc/
.angular/
.angular-cache/
coverage/
karma-coverage/
**/*.tsbuildinfo
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.log
*.stackdump
*.log.*
*.bak
*.tmp
*.temp
